# Игнорировать папку виртуального окружения
.venv

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы IDE
.idea/
.vscode/

# Другие файлы, которые не нужны в образе
.git
.gitignore
